{{> head}}

{{> navbar }}

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h1 class="text-center">Perrito</h1>
            <p class="text-justify">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, dolor enim expedita
                ex sint vel voluptates quos eum commodi id! Ad ex nemo, officia placeat recusandae rerum illum dolor
                deserunt.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/perrito.jpg" class="img-thumbnail">
        </div>

    </div>
</div>


{{> footer}}